/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: rgb(219, 219, 219);
}

.all-btn{
    padding: 0.5rem 2rem;
    font-size: 18px;
    background-color: #f7f7f7;
    border-radius: 2.5rem;
    color: #484848;
}

.all-btn:hover{
    padding: 0.5rem 2rem;
    color: #f7f7f7;
    background-color: #484848;
    box-shadow: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    padding: 20px;
    background: #fff;
    position: fixed;
    box-shadow: 0rem 0.5rem 1.5rem #acacac;
    top: 0%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin: 2rem 8rem 2rem 2rem;
}

.search_box {
    display: flex;
    align-items: center;
    margin-left: 6.5rem;
}

.search_box input {
    padding: 9px;
    width: 450px;
    background: rgb(228, 228, 228);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_box i {
    padding: 0.66rem;
    cursor: pointer;
    color: #fff;
    background: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    margin-right: 2rem;
    cursor: pointer;
}

.header-icons .account {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-icons .account img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

/* Side menubar section */
nav {
    background: #fff;
    position: fixed;
    top: 100px;
    bottom: 80px;
    height: 100%;
}

.side_navbar {
    padding: 1px;
    display: flex;
    flex-direction: column;
}

.side_navbar span {
    color: #484848;
    margin: 1rem 3rem;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}

.side_navbar a {
    width: 100%;
    padding: 0.8rem 3rem;
    font-weight: 500;
    font-size: 18px;
    color: #353535;
    margin-bottom: 10px;
}

.links {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;

}

.links a {
    font-weight: 500;
    font-size: 18px;
}

.side_navbar a:hover {
    background: rgb(235, 235, 235);
}

.side_navbar .active {
    border-left: 2px solid rgb(100, 100, 100);
}

/* Main Body Section */
.main-body {
    width: 100%;
    padding: 6rem;
    margin-top: 10px;
    margin-left: 200px;
}

.promo_card {
    width: 100%;
    height: 400px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 2rem;
    background: #353535;
}

.promo_card h1,
.promo_card h2, 
.promo_card p,
.promo_card a {
    margin: 12px;
}

.history_lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.list1{
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    width: 100%;

}

table {
    background: #fff;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
    width: 100%;

}

.num{
    width: 5%;
}
.date{
    width: 30%;
}
.nameCake{
    width: 30%;
}
.amount{
    width: 5%;
}
.price{
    width: 30%;
}


table td,
th {
    padding: 0.2rem 0.8rem;
    text-align: center;
    
}

table th {
    font-size: 15px;
}

table td {
    font-size: 13px;
    color: rgb(100, 100, 100);
}

.catalog{
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    margin-top: 20px;
    padding: 3rem 1rem;
    border-radius: 10px;
}
.catalog .all-btn{
    font-size: 20px;
    background-color: #353535;
    color: #fff;
}
.catalog .all-btn:hover{
    font-size: 20px;
    background-color: #f7f7f7;
    color: #353535;
}
.catalog h1{
    font-size: 30px;
}
.catalog .box-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding: 2rem;
}

.catalog .box {
    border: 3px solid #000;
    box-shadow: 3px #353535;
    border-radius: 2.5rem;
    text-align: center;
    padding: 1.5rem;
    width: 300px;
}

.catalog .box:hover {
    border: 2px solid #acacac;
    box-shadow: none;
}

.catalog .box img {
    width: 100%;
    height: 150px;
    max-width: 150px;
    border-radius: 20px;
    object-fit: cover;
}

.catalog .box h3 {
    font-size: 1.2rem;
    padding: 1rem 0;
    color: #484848;
}

.catalog .box p {
    font-size: 0.8rem;
    padding-bottom: 1.5rem;
    color: #484848;
    margin-bottom: 0.5rem;
}

.footer {
    text-align: center;
    background-color: #fff;
    position: inherit;
    width: 100%;
    bottom: 0%;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem;
    text-align: left;
    top: 50%;
    margin-left: 20%;
}

.footer .box-container .box h3 {
    font-size: 1rem;
    color: #484848;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 0.7rem;
    color: #353535;
    padding: 1rem 0;
}

.footer .box-container .box a i {
    padding-right: 2rem;
    color: #484848;
}

.footer .box-container .box a:hover i {
    padding-right: 1rem;
    color: #858585;
}

.footer .credit {
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #484848;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color: #000000;
    cursor: pointer;
    font-weight: bold;
}

.cartpage{
    margin: 80px auto;
    background-color: #f7f7f7;
}

.cartpage table{
    border-collapse: collapse;
    background-color: transparent;
}

.cartpage th{
    padding: 5px;
    color: #f7f7f7;
    background-color: #353535;
}

.cartpage td{
    padding: 10px 5px;
}

.cartpage input{
    text-align: center;
    width: 40px;
    height: 30px;
    padding: 5px;
    border: 1px solid #858585;
    vertical-align: middle;
}

.cartpage input[type=radio]{
    border: 0px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.cartpage td a{
    color: red;
    font-size: 12px;
}

.cartinfo {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
}

.cartinfo img{
    width: 100%;
    height: 120px;
    max-width: 120px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 10px;
}
.totalPrice{
    display: flex;
    justify-content: flex-end;

}
.totalPrice table{
    margin-top: 5px;
    border-top: 3px solid #484848;
    width: 100%;
    max-width: 250px;
    background-color: transparent;
}
.totalPrice table,.totalPrice td:first-child,.totalPrice td:last-child{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.main-body .profil{
   width: 100%;
   text-align: center;
   padding-left: 50px;
}

.profil .label{
    width: 30%;
    text-align: right;
}

.profil .equals{
    width: 10%;
}
.profil .input{
    width: 60%;
    text-align: left;
}

.profil td, .profil input{
    font-size: 20px;
}